<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554880938098-0ql59q9a2iiecv7fn8mb9lbtv2v85hg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554880938098-0ql59q9a2iiecv7fn8mb9lbtv2v85hg2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>554880938098-84q8c8m5mmk54le1siv59n2ennfnei51.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAyFu9ry1FagFqs_852rq9V5SxjagucKbI</string>
	<key>GCM_SENDER_ID</key>
	<string>554880938098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andreadeluna.testpreliminari</string>
	<key>PROJECT_ID</key>
	<string>progettotirocinio-67091</string>
	<key>STORAGE_BUCKET</key>
	<string>progettotirocinio-67091.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554880938098:ios:bc17faf4fbad1f0d33d2eb</string>
</dict>
</plist>